#memsrch-root {
  min-height: 100vh;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
#memsrch-root header {
  padding: 10px;
}

.memsrch-content {
  display: flex;
  width: 100%;
}
.memsrch-content .gutter {
  margin-left: 10px;
  margin-right: 10px;
}

.home {
  cursor: pointer;
  font-size: 2rem;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}
.home:hover {
  background-color: #5757572e;
}