.post-list-container {
  width: 400px;
  flex-grow: 0;
  flex-shrink: 0;
}
.post-list {
  box-sizing: border-box;
  height: calc(100vh - 120px);
}
.list-item-text {
  max-width: 100%;
  max-height: 70px;
  overflow: hidden;
}

.list-item-text .primary {
  font-size: 1.1rem;
  font-weight: bold;
}

.list-item-text .secondary {
  font-size: 1rem;
}

#query-input {
  margin-left: 10px;
  width: 490px;
}