.post-list {
  max-width: 500px;
  flex-grow: 0;
  flex-shrink: 0;
}

.list-item-text {
  max-width: 500px;
  max-height: 70px;
  overflow: hidden;
}

.list-item-text .primary {
  font-size: 1.1rem;
  font-weight: bold;
}

.list-item-text .secondary {
  font-size: 1rem;
}

#query-input {
  margin-left: 10px;
  width: 490px;
}